.content {
  background-color: #EBEDFC;
  min-height: calc(100vh - var(--height-header)) !important;
  margin-left: var(--width-slideClose);
  width: calc(100vw - var(--width-slideClose)) !important;
  transition: var(--transition-closing);
  padding-top: var(--height-header);
}

/* Ação quando o slide abre */
#slideCheck:checked ~ .content {
  margin-left: var(--width-slideOpen);
  width:  calc(100vw - var(--width-slideOpen)) !important;
  transition: var(--transition-opening);
}
