.slide-itens{
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.slide-itens:hover {
  background-color: #F1F1F1;
  color: #221562;
}

.slide-itens:hover svg, .slide-itens:hover span{
  color: #221562;
}

.slide-itens svg, .slide-itens span{
  color: #F1F1F1;
}

.slide-itens__name {
  display: none;
  padding-right: 20px;
}

/* Ação quando o slide abre */
#slideCheck:checked ~ .slide > .slide__itens > .slide-itens > .slide-itens__name {
  display: initial !important;
}

#slideCheck:checked ~ .slide > .slide__itens > .slide-itens button  {
  padding-left: 20px !important;
}


#slideCheck:checked ~ .slide > .slide__itens > .slide-itens  {
  justify-content: space-between;
}
