.login {
  min-height: 100vh;
  background-color: #3443CE;
  display: flex;
  flex-direction: row;
}

.login__form {
  background-color: #F1F1F1;
  width: 40%;
  display: flex;
}

.login__form-input {
  height: 100%;
  width: 100% !important;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  align-content: center;
}


.login__form-container {
  padding: 20px 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.login__form-title {
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  color: #221534;
  line-height: 49px;
}

.login__content {
  width: 60%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.login__content-logo {
  font-style: normal;
  font-weight: bold;
  font-size: 57px;
  line-height: 69px;
  color: #F1F1F1;
}
.login__content-logo span {
  color: #AA5BE2;
}
