:root {
  --width-slideClose: 70px;
  --width-slideOpen: 300px;
  --transition-closing: all 300ms;
  --transition-opening: all 200ms;
}

#slideCheck, .slide__search {
  display: none !important;
}

.slide {
  position: fixed;
  z-index: 10;
  left: 0;
  min-height: 100%;
  background-color: #fff;
  width: var(--width-slideClose);
  transition: var(--transition-closing);

  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-start;
  align-content: center;
}

.slide button {
  padding: 0 !important;
}

.slide__change {
  width: 100%;
  height: var(--height-header);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  padding: 0 10px;
}

.slide__itens {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  align-content: center;
  padding: 0 10px;
}

/* Ação quando o slide abre */
#slideCheck:checked ~ .slide {
  width: var(--width-slideOpen);
  transition: var(--transition-opening);
  height: 100%;
  flex-direction: row !important;

  align-content: flex-start;
}

#slideCheck:checked ~ .slide > .slide__change >.slide__search {
  display: initial !important;
}

#slideCheck:checked ~ .slide > .slide__change {
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
}
