:root {
  --width-slideClose: 70px;
  --width-slideOpen: 300px;
  --transition-closing: all 300ms;
  --transition-opening: all 200ms;
}

#slideCheck, .slide__search {
  display: none !important;
}

.slide {
  position: fixed;
  z-index: 10;
  left: 0;
  min-height: 100%;
  background-color: #221562;
  width: var(--width-slideClose);
  transition: var(--transition-closing);

  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.slide button {
  padding: 0 !important;
}

.slide__change {
  width: 100%;
  height: var(--height-header);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.slide__change svg, .slide__change input {
  color: #F1F1F1;
}

.slide__itens {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  align-content: center;
}

/* Ação quando o slide abre */
#slideCheck:checked ~ .slide {
  width: var(--width-slideOpen);
  transition: var(--transition-opening);
  height: 100%;
}

#slideCheck:checked ~ .slide > .slide__change >.slide__search {
  display: initial !important;
}

#slideCheck:checked ~ .slide > .slide__change {
  flex-wrap: wrap;
  width: calc(100% - 15px) !important;
  justify-content: space-between;
}

@media only screen and (max-width: 799px) {
  :root {
    --width-slideClose: 50px;
    --width-slideOpen: 100vw;
    --transition-closing: all 300ms;
    --transition-opening: all 200ms;
  }
}

